@font-face {
  font-weight: 800;
  font-family: "Gilroy";
  font-style: normal;

  src: url("../fonts/gilroyextrabold.woff") format("woff"),
  url("../fonts/gilroyextrabold.woff2") format("woff2");
}

@font-face {
  font-weight: 300;
  font-family: "Gilroy";
  font-style: normal;

  src: url("../fonts/gilroylight.woff") format("woff"),
  url("../fonts/gilroylight.woff2") format("woff2");
}

body {
  margin: 0;
  padding: 0;

  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #000000;
  letter-spacing: 0.18px;

  background-color: #ffffff;

  /*background-image: url("../device-catalog.jpg");
  background-repeat: no-repeat;
  background-position: center 0;*/
}

.container {
  width: 1160px;
  margin: 0 auto;
}



.btn {
  position: relative;
  z-index: 1;

  display: inline-block;
  box-sizing: border-box;
  padding: 9px 40px;

  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  vertical-align: middle;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 3.7px;

  background: none;
  border: none;
  cursor: pointer;
}

.btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  z-index: -1;

  display: block;
  width: 100%;
  height: 8px;

  background-color: #f0c52e;
  transform: translateY(-50%);

  transition: 0.3s ease;
}

.btn:hover::before,
.btn:focus::before {
  height: 100%;
}

.title {
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  font-family: "Gilroy", "Arial", sans-serif;
}





.main-header {
  
  

  
}

.main-header__wrapper {
  
  padding: 0 60px;
  padding-bottom: 30px;
  padding-top: 21px;
  background-image: linear-gradient(#ffffff 40px, #f7e296 40px);

}

.main-header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 21px;
}


.logo {
  display: inline-block;
  margin-bottom: 2px;
}

.logo[href] {
  cursor: pointer;

  transition: 0.15s ease;
}

.logo[href]:hover,
.logo[href]:focus {
  opacity: 0.6;
}

.logo[href]:active {
  opacity: 0.3;
}


.main-user {
  display: flex;
  justify-content: flex-end;
  width: 500px;
}

.main-user--footer{
    margin: 0;
    width: auto;
}

.main-user__item {
  list-style: none;
}


.main-user__item--compare {
  margin-left: auto;
}

.main-user__item--footer{
  margin: 0;
  margin-left: 63px;
}



.main-user__link {
  color: #000000;
  text-decoration: none;

  transition: 0.15s ease;
}

.main-user__link:hover,
.main-user__link:focus {
  opacity: 0.6;
}

.main-user__link:active,
.main-user__link:active {
  opacity: 0.3;
}

.search {
  position: relative;
}

.search::before {
  content: "";
  position: absolute;
  top: calc(50% + 1px);
  left: 3px;

  display: inline-block;
  width: 16px;
  height: 16px;

  background-image: url("../img/svg/search.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  transform: translateY(-50%);
}

.search__input {
  padding: 16px 38px 14px;

  letter-spacing: 0.3px;
  position: relative;

  box-sizing: border-box;
  width: 356px;
  margin: 0;

  color: #000000;

  background: none;
  border: none;
  border-bottom: 2px solid transparent;
  opacity: 0.3;

  transition: 0.15s ease;
}



.search__input:hover {
  opacity: 0.6;
}

.search__input:focus {
  border-color: #000000;
  outline: none;
  opacity: 1;
}

.search__btn {
  margin: 0;
  margin-left: -5px;
  padding: 13px 20px 14px;

  color: transparent;

  background: none;
  border: 2px solid transparent;
  cursor: pointer;

  transition: 0.2s ease;
}

.search__input:focus ~ .search__btn {
  color: #000000;

  border-color: #000000;
}




.search__input:focus ~ .search__btn:hover {
  color: #ffffff;

  background-color: #000000;
  border-color: #000000;
}

.search__btn:focus {
  color: rgba(255, 255, 255, 0.3);

  background-color: #000000;
  border-color: #000000;
}



.navigation__wrapper {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

.navigation__item,
.submenu__item {
  list-style: none;
}

.navigation__item {
  margin: 0;
  padding: 0;
  margin-right: 34px;

}
.navigation__item:last-child{
  margin: 0;
}

.navigation__item:nth-last-child(2){
  margin-right: 32px;
}

.navigation__item--header:first-child {
  margin-right: auto;
  margin-left: -1px;
}

.navigation__item--header:last-child {
  margin-right: -3px;
}

.navigation__item--header:nth-last-child(2) {
  margin-right: 108px;
}

.navigation__item--header:nth-last-child(3) {
  margin-right: 34px;
}


.navigation__link {
  letter-spacing: 3.6px;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;

  transition: 0.2s ease;
}

/*.navigation__link:first-letter {
  letter-spacing: 2px;
}*/

.navigation__link:hover,
.navigation__link:focus {
  opacity: 0.6;
}

.navigation__link:active {
  opacity: 0.3;
}

.navigation__inner {
  display: none;
}

.navigation__item:hover .navigation__inner {
  display: flex;
}

.submenu__link {
  line-height: 36px;
  color: #000000;
  text-decoration: none;
}

.submenu__link:hover,
.submenu__link:focus {
  opacity: 0.6;

  transition: 0.15s ease;
}

.submenu__link:active {
  opacity: 0.3;
}






.slider {
  margin-bottom: 106px;
}

.slider .container{
   background-image: linear-gradient( #f7e296 130px, #ffffff 130px); 
  position: relative;
}

.slider__btns {
  position: absolute;
  z-index: 1000;
  bottom: 140px;
  right: 82px;
}

.slider__btn{
  margin-left: 15px;
  width: 12px;
  height: 12px;
  background-image: url("../img/svg/slider-button-empty.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  background-size: contain;
}

.slider__btn.active{
  background-image: url("../img/svg/slider-button.svg");
}

.slide {
  position: relative;

  display: flex;
  justify-content: flex-end;
  padding: 0;
  padding-right: 60px;
}

.slide__picture {
  display: flex;
  justify-content: center;
  align-items: center;
      width: 530px;
    height: 505px;
    box-sizing: border-box;
  margin-right: auto;
  /*padding-top: 19px;
      padding-left: 2px;*/
      
}

.slide__picture--slide1{
  padding-top: 19px;
      padding-left: 33px;
}

.slide__picture--slide2{
  padding-top: 42px;
    padding-left: 46px;
}

.slide__picture--slide3 {
    padding-top: 84px;
    padding-left: 57px;
    align-items: flex-start;
}



.slide__values {
  position: absolute;
  top: 4px;
  right: 45px;
}

.slide__number {
  font-weight: 800;
  font-size: 178px;
  line-height: 180px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #ffffff;
  letter-spacing: 4.9px;
}

.slide__wrapper {
  position: relative;

  width: 501px;
}

.slide__wrapper::before {
  content: "";
  position: absolute;
  top: 56px;
  left: 0;
  display: block;
  width: 101px;
  height: 7px;
  background-color: #ffffff;
}

.slide__title {
  font-weight: 800;
  font-size: 47px;
  line-height: 56px;
  font-family: "Gilroy", "Arial", sans-serif;
  display: inline-block;
  margin-top: 98px;
  margin-bottom: 19px;

  letter-spacing: 0.6px;
}

.slide__description {
  margin: 0;
  margin-bottom: 42px;
  padding-right: 10px;
  color: #464646;
      letter-spacing: 0.14px;
}


.slide__btn {
  margin-left: 1px;
  padding-right: 41px;
  padding-left: 42px;
}

.slide__value {

  padding: 0;
  /*padding-right: 76px;*/
      width: 157px;
  padding-bottom: 5px;
  font-weight: 300;
  font-size: 36px;
  line-height: 48px;
  font-family: "Gilroy", "Arial", sans-serif;
}

.slide__value:nth-child(2){
  width: 138px;
}

.slide__field {
  font-size: 13px;
  line-height: 20px;
  color: #464646;
}

.slide__features {
  margin-top: 47px;
  margin-left: -2px;
}



.categories-product {
  margin-bottom: 80px;
}






.categories-product__wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.categories-product__item {
  margin: 0;
  padding: 0;

  list-style: none;
}

.categories-product__link {
  position: relative;

  display: inline-block;
  width: 160px;

  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  vertical-align: middle;
  color: #000000;
  text-decoration: none;

  cursor: pointer;
}

.categories-product__link::before,
.categories-product__link::after {
  margin-bottom: 33px;

  content: "";

  display: block;
  width: 100%;
  height: 160px;

  color: #000000;

  transition: 0.3s ease;
}

.categories-product__link::before {
  background-color: #f7e296;
}

.categories-product__link::after {
  position: absolute;
  top: 0;
  left: 0;
}

.categories-product__link--virtual::after {
  background-image: url("../img/svg/popular__virtual.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.categories-product__link--monopods::after {
  background-image: url("../img/svg/popular__selfi-stick.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.categories-product__link--camera::after {
  background-image: url("../img/svg/popular__camera.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.categories-product__link--braclete::after {
  background-image: url("../img/svg/popular__fitness-bracelet.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.categories-product__link--watch::after {
  background-image: url("../img/svg/popular__watch.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.categories-product__link--quadcopter::after {
  background-image: url("../img/svg/popular__quadcopter.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.categories-product__link:hover::before,
.categories-product__link:focus::before {
  background-color: #f0c52e;
}

.categories-product__link:active {
  color: rgba(0, 0, 0, 0.3);
}

.categories-product__link:active::before {
  background-color: #f0c52e;
}

.categories-product__link:active::after {
  opacity: 0.3;
}


.services {
  background-image: linear-gradient(#ffffff 100px, #e5e5e5 100px);

    padding-bottom: 70px;
    margin-bottom: 93px;
}

.services__wrapper {
  display: flex;
}



.services__btns {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
  width: 284px;
  padding-top: 82px;

  border-right: 7px solid #000000;
}

.services__btn {
  width: 160px;
  margin-bottom: 21px;
  padding-right: 20px;
  padding-left: 22px;
}

.services__btn:nth-child(2) {
  margin-bottom: 23px;
  padding-left: 23px;
}

.services__btn.active {
  width: 100%;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 20px;

  text-align: left;
  color: #f7e184;

  background-color: #000000;
}

.services__btn.active::before {
  background-color: #000000;
}

.services__slide {
  /*box-sizing: border-box;*/
  /* padding: 80px 0 70px 162px; */
  width: 460px;
  padding-top: 75px;
  padding-left: 116px;
      padding-right: 300px;
  position: relative;
      padding-bottom: 77px;
}

.services__slide::after{
  position: absolute;
  content: "";
  right: 4px;
  top: 38px;
  width: 260px;
  height: 260px;


}

.services__slide--delivery::after{
  background-image: url("../img/svg/services__delivery.svg");
  background-position: center center;
  background-repeat: no-repeat;
}

.services__title {
  margin: 0;
  margin-bottom: 30px;
  margin-left: 1px;

  letter-spacing: 1px;
}




.services__description {
  color: #464646;
  margin: 0;

  letter-spacing: 0.27px;
}

.brands {
    margin-bottom: 97px;
}

.brands__wrapper{
  display: flex;
  justify-content: space-between;
  margin: 0;
    padding: 0;
}




.brands__item {
  list-style: none;
}

.brands__item:last-child{
  margin-right: 2px;
}

.brands__link {
  cursor: pointer;
  opacity: 0.2;
  filter: grayscale(100%);

  transition: 0.4s ease;
  display: inline-block;
}

.brands__link:hover,
.brands__link:focus {
  opacity: 1;
  filter: none;
}



.company__wrapper{
  display: flex;
margin-bottom: 71px;
}

.company .title{
  position: relative;
  margin-bottom: 43px;
}

.company .title::before{
  position: absolute;
  content: "";
  width: 80px;
  height: 7px;
  background-color: #000000;
  left: 0;
  top: -52px;
}

.about-us{
  width: 50%;
  box-sizing: border-box;
  padding-right: 100px;

}

.about-us__description {
    margin: 0;
    margin-bottom: 30px;
    letter-spacing: 0.1px;
  color: #464646;
}


  


.about-us__list {
  margin: 0;
  padding: 0;
  margin-top: 65px;
    margin-bottom: 54px;
}

.about-us__item {
  list-style: none;
  font-weight: 800;
  font-size: 16px;
  line-height: 40px;
  font-family: "Gilroy", "Arial", sans-serif;
}

.about-us__item::before {
  content: "";
 margin-right: 27px;
  display: inline-block;
  box-sizing: border-box;
  width: 8px;
  height: 8px;

  border: 2px solid #e5e5e5;
  border-radius: 50%;
}

.about-us__btn {
    padding-left: 22px;
    padding-right: 22px;
    margin-bottom: 10px;
  }


.contacts{
  width: 50%;
  box-sizing: border-box;
  padding-left: 19px;
}

.contacts__description {
  color: #464646;
  letter-spacing: 0.1px;
      margin: 0;
    margin-bottom: 39px;
}

.contacts__map {
    margin-bottom: 59px;
}

.contacts__btn {
    padding-left: 41px;
    letter-spacing: 3.6px;
    padding-right: 37px;
}




.main-footer {
  background-color: #464646;
  padding: 63px 0;
}

.main-footer__top{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 3px;
}

.main-footer-logo {
    margin-top: 2px;
}

.main-user__link--footer {
  color: #ffffff;
}

.main-footer__middle{
  display: flex;
  align-items: center;
  margin-bottom: 34px;
}

.main-footer__nav{
  margin-left: 164px;
      margin-top: 5px;
}

.main-footer__address {
  color: #ffffff;
}

.navigation__link--footer {
  color: #ffffff;
}

.main-footer__address{
  letter-spacing: 0;
}

.main-footer__phone {
  color: #ffffff;
  text-decoration: none;

  margin-left: auto;
  letter-spacing: 0;
}

.social{
  display: flex;
  margin-left: 389px;
}

.social__item{
  margin-right: 23px; 
  list-style: none;

}

.social__item:last-child{
  margin: 0;
}

.social__link{
  display: inline-block;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: center;

  color: #ffffff;
  text-decoration: none;

  opacity: 0.6;
}

.social__link--facebook{
  background-image: url("../img/svg/facebook-icon.svg");
  
}

.social__link--instagram{
  background-image: url("../img/svg/instagram-icon.svg");
}

.social__link--twitter{
  background-image: url("../img/svg/twitter.svg");
}

.social__link:hover,
.social__link:focus {
  opacity: 1;
}

.social__link:active {
  opacity: 0.3;
}




.main-footer__bottom{
  display: flex;
  align-items: flex-start;
}

.main-footer__line{
  width: 80px;
  height: 7px;
  background-color: #ffc600;
    margin-top: 28px;
}



.main-footer__copyright{
  background-image: url("../img/svg/logo-html.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 27px;
  height: 35px;
  margin-left: auto;
  margin-top: 12px;
  color: #ffffff;
  text-decoration: none;
}

.main-footer__copyright:hover,
.main-footer__copyright:focus {
  opacity: 0.6;
}

.main-footer__copyright:active {
  opacity: 0.3;
}

.modal-write__label {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
}

.modal-write__input {
  padding: 15px 16px;

  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #464646;

  background-color: #f2f2f2;
  border: none;
  border: 3px solid transparent;
}

.modal-write__input:not(input) {
  width: 750px;
  height: 156px;
}

.modal-write__input::-webkit-input-placeholder {
  opacity: 0.4;
}

.modal-write__input::-moz-placeholder {
  opacity: 0.4;
}

.modal-write__input:-ms-input-placeholder {
  opacity: 0.4;
}

.modal-write__input:-moz-placeholder {
  opacity: 0.4;
}

.modal-write__input:invalid {
  background-color: rgba(237, 181, 181, 0.5);
  border-color: transparent;
}

.modal-write__input:hover {
  background-color: #eaeaea;

  transition: 0.3s ease;
}


.modal-write__input:focus {
  background-color: #ffffff;
  border-color: #f0c52e;
  outline: none;

  transition: 0.3s ease;
}

.madal__close {
  cursor: pointer;
  opacity: 0.5;
}

.madal__close:hover,
.madal__close:focus {
  opacity: 1;

  transition: 0.3s ease;
}

.madal__close:active {
  opacity: 0.3;
}






/* INNER PAGE */

.inner-page .main-header__wrapper{
  padding-bottom: 50px;
}

.main-title {
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  font-family: "Gilroy", "Arial", sans-serif;
  margin-left: 59px;
    margin-top: 34px;
    letter-spacing: 0.7px;
        margin-bottom: 24px;
}

.breadcrumbs {
    margin: 0;
    padding: 0;
    display: flex;
    margin-left: 59px;
    margin-bottom: 46px
}

.breadcrumbs__item {
  list-style: none;
  font-size: 14px;
  line-height: 24px;

    margin-right: 37px;
}

.breadcrumbs__item:last-child {
  opacity: 0.3;
}

.breadcrumbs__link {
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;

  opacity: 0.3;
}

.breadcrumbs__link:hover,
.breadcrumbs__link:focus {
  opacity: 0.6;
}

.breadcrumbs__link:active {
  opacity: 0.1;
}

.filters__title,
.sort__title {
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  letter-spacing: 3.5px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-right: 52px;
  margin-top: 4px;
}

.sort {
    background-image: linear-gradient(to right, #dcdcdc 30%, #efefef 30%);
}


.sort .container {
    display: flex;
    align-items: center;
    padding-left: 401px;
    padding-top: 18px;
    padding-bottom: 22px;
    width: 760px;
}

.sort__wrapper {
    padding: 0;
    margin: 0;
    display: flex;
}
.sort__wrapper:last-child{
  margin-left: auto;
      margin-top: 4px;
}

.sort__type,
.sort__order {
  list-style: none;
}

.sort__order {
    margin-left: 18px;
    margin-right: 1px;
}


  .sort__type {
    margin-right: 29px;
}

.sort__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  text-decoration: none;
  letter-spacing: 0;

  opacity: 0.3;
}

.sort__link:hover,
.sort__link:focus {
  opacity: 0.6;
}

.sort__link:not([href]),
.sort__link:active {
  opacity: 1;
}

.sort__arrow {
  font-weight: 400;
  height: 10px;
  width: 11px;
  background: url("../img/svg/icon-arrow.svg") no-repeat center center;
  opacity: 0.2;
  display: block;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  text-decoration: none;
  letter-spacing: 0;

  opacity: 0.2;
}


.sort__arrow:hover,
.sort__arrow:focus {
  opacity: 0.4;
}

.sort__arrow:not([href]),
.sort__arrow:active {
  opacity: 1;
}


.sort__arrow--up{
  transform: rotate(180deg);
}

.main__wrapper {
    background-image: linear-gradient(to right, #efefef 30%, #ffffff 30%);
}

.main__wrapper .container {
    display: flex;
        margin-bottom: 3px;
}

.filters {
    width: 328px;
    position: relative;
    padding-left: 44px;
        padding-top: 81px;
        box-sizing: border-box;
        background-color: #efefef;
}

.filters__title {
    position: absolute;
    width: 100%;
    top: -70px;
    left: 0;
    box-sizing: border-box;
    padding: 23px 60px;
    background-color: #dcdcdc;
    margin: 0;
}

.filters-form__inner {
  border: none;
}

.filters-form__title {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
}

.filters-form__label {
  display: block;

  font-size: 14px;
  line-height: 40px;

  cursor: pointer;
}



.filters-form__label::before {
  content: "";

  display: inline-block;
  width: 27px;
  height: 25px;
  margin: 0 15px 0 0;

  vertical-align: middle;

  background-image: url("../img/svg/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 1px center;
}

.filters-form__label:hover::before,
.filters-form__label:focus::before {
  opacity: 0.6;

  transition: 0.3s ease;
}

.filters-form__checkbox:disabled + .filters-form__label::before,
.filters-form__checkbox:disabled + .filters-form__label {
  opacity: 0.25;
}

.filters-form__checkbox:checked + .filters-form__label::before {
  background-image: url("../img/svg/checkbox-on.svg");
}

.filters-form__checkbox:focus + .filters-form__label::before {
  opacity: 0.6;

  transition: 0.3s ease;
}

.filters-form__label--radio::before {
  width: 26px;
  height: 27px;

  background-image: url("../img/svg/radio-off.svg");
}

.filters-form__radio:checked + .filters-form__label--radio::before {
  background-image: url("../img/svg/radio-on.svg");
}

.filters-form__radio:focus + .filters-form__label--radio::before {
  opacity: 0.6;

  transition: 0.3s ease;
}

.main__catalog{
  width: 833px;
  padding-left: 72px;
        padding-top: 23px;
    box-sizing: border-box;
}

.catalog {
    display: flex;
    
    flex-wrap: wrap;
    
    margin-bottom: 35px;
}



.catalog__item {
  position: relative;

  display: flex;
  flex-direction: column;
  width: 360px;
  padding: 0;
  margin: 0;
  margin-top: 46px;
}

.catalog__item:nth-child(2n)
{
  margin-right: 40px;
}


.catalog__header {
  display: flex;
  justify-content: space-between;
  margin: 32px 0 0;
  padding: 0;
}

.catalog__link {
  text-decoration: none;
      letter-spacing: 0.28px;
          margin-left: -1px;
}

.catalog__title {
  margin: 0;
  /*width: calc(100% - 90px);*/
  padding: 0;

  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000000;
}

.catalog__price {
  width: 100px;

  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  text-align: right;
  color: #464646;
      margin-top: 1px;
}

.catalog__picture {
  order: -1;
  width: 360px;
  height: 380px;
  margin: 0;
  overflow: hidden;

  cursor: pointer;
}


.catalog__inner {
  position: absolute;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 360px;
  height: 380px;
  margin: 0;
  padding: 0;

  background-color: rgba(238, 238, 238, 0.7);
  opacity: 0;

  transition: 0.3s ease;
}

.catalog__picture:hover ~ .catalog__inner,
.catalog__picture:focus ~ .catalog__inner,
.catalog__inner:hover {
  opacity: 1;
}


.catalog__compare {
  display: block;

  font-size: 13px;
  line-height: 36px;
  color: #000000;
  text-decoration: none;

  opacity: 0.5;
}

.catalog__compare:hover,
.catalog__compare:focus {
  opacity: 1;
}

.catalog__compare:active {
  opacity: 0.2;
}

.pagination {
  background-color: #ebebeb;
  display: flex;
    justify-content: space-between;
    margin-bottom: 73px;
}


.pagination__control {
  padding: 24px 26px 22px 29px;

  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000000;
  text-decoration: none;
  letter-spacing: 3.6px;
    text-transform: uppercase;
}

.pagination__control:hover,
.pagination__control:focus {
  background-color: #d9d9d9;
}

.pagination__control:active {
  color: rgba(0, 0, 0, 0.3);

  background-color: #d9d9d9;
}

.pagination-list {
    display: flex;
    margin: 0;
    padding: 0;
    padding-top: 21px;
    padding-left: 41px;
    justify-content: flex-start;
}

.pagination-list__item {
  list-style: none;
  padding-right: 29px;
}

.pagination-list__link {
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000000;
  text-decoration: none;
  letter-spacing: 2px;

  opacity: 0.3;
}

.pagination-list__link:not([href]),
.pagination-list__link:hover,
.pagination-list__link:focus {
  opacity: 1;
}

.pagination-list__link:active {
  opacity: 0.6;
}


































.visually-hidden, .visually-hidden::before, .visually-hidden::after {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}